.acf-tabs {
  // Styles for the frontend only
  &:not(.is-editor) {
    .tabs-nav {
      display: flex;
      flex-wrap: wrap;

      &__button {
        padding: var(--size-xs) var(--size-md);
        font-size: var(--font-size-text-xlarge);
        font-weight: var(--font-weight-bold);
        color: var(--black);
        border: 1px solid var(--gray);
        cursor: pointer;
        transition: var(--transition-base);

        &.is-active,
        &:hover {
          background-color: var(--primary);
          border-color: var(--primary);
          color: var(--white);
        }
      }
    }

    .tabs-panel {
      padding: var(--size-md);
      border: 1px solid var(--gray);

      &__title {
        display: none;
      }
    }
  }
}
