.acf-accordion-block {
  &.is-editor {
    .accordion-content {
      height: auto !important;
    }
  }

  .accordion-item {
    border-bottom: 1px solid var(--gray);

    &:first-child {
      border-top: 1px solid var(--gray);
    }
  }

  .accordion-title {
    font-size: var(--font-size-text-xlarge);
    font-weight: var(--font-weight-bold);
    padding-block: var(--size-md);
    cursor: pointer;
    transition: var(--transition-base);

    &:hover {
      color: var(--primary);
    }

    &.is-active {
      color: var(--primary);
    }
  }

  .accordion-content {
    height: 0;
    overflow: hidden;
    transition: var(--transition-base);

    &__inner {
      padding: var(--size-sm);
    }
  }
}
