/* ---------------------------------------
	Blog page
--------------------------------------- */

.preview {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.preview__meta {
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--gray);
  font-size: 14px;
}

.preview__thumb {
  @media (max-width: 782px) {
    margin-bottom: 20px;
  }
}

/* ---------------------------------------
	Post / Page inner view
--------------------------------------- */

.entry__thumb {
  margin-bottom: 20px;
}

.entry__meta {
  color: var(--gray);
  font-size: 14px;
}

.entry__cat {
  margin-top: 20px;
}
