@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: fallback;
  src: url('../../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400 700;
  font-stretch: 100%;
  font-display: fallback;
  src: url('../../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf')
    format('truetype');
}
