@import '@wordpress/base-styles/breakpoints';

/* ---------------------------------------
	Gravity Forms styles
--------------------------------------- */
.base-theme {
  .gform_confirmation_message {
    color: var(--green);
  }

  .gform_wrapper.gravity-theme {
    // Submit button styles
    input[type='submit'],
    button[type='submit'],
    .gform_button {
      border: 1px solid var(--primary);
      background-color: var(--primary);
      padding: var(--size-sm) var(--size-md);
      color: var(--white);
      cursor: pointer;
      transition: var(--transition-base);

      &:hover {
        border: 1px solid var(--primary);
        background-color: var(--white);
        color: var(--primary);
      }
    }
  }
}
