@import '@wordpress/base-styles/breakpoints';

.header {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0);
  overflow-x: clip;
  z-index: 3604;
  padding-block: var(--size-md);
  transition: var(--transition-base);

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-lg);
  }

  .logo {
    a {
      display: block;
    }

    img {
      max-height: 150px;
    }
  }

  /* TOP BAR Mobile STYLING */
  @media (max-width: #{ $break-wide - 1 }) {
    .title-bar {
      .menu-icon {
        padding: 0;
        border: none;
        background-color: transparent;

        @include menu-icon(var(--black), var(--black), 30px, 24px, 3px);
      }
    }

    .top-bar {
      position: absolute;
      top: var(--header-height, 0);
      right: 0;
      width: 100%;
      height: calc(100vh - var(--header-height, 0));
      overflow-y: auto;
      background: var(--white);
      padding: var(--size-lg);
      z-index: -1;
      transform: translateX(100%);
      pointer-events: none;
      visibility: hidden;
      transition: var(--transition-base);

      /* stylelint-disable */
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--gray);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--white);
      }
      /* stylelint-enable */

      &.is-active {
        z-index: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
      }
    }

    .header-menu {
      background: transparent;

      li {
        position: relative;
        > a {
          color: var(--secondary);
          line-height: 45px;

          &:focus {
            &,
            & + .submenu-toggle {
              color: var(--primary);
            }
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a,
          .submenu-toggle {
            color: var(--primary);
          }
        }

        &[aria-expanded='true'] {
          > a,
          .submenu-toggle {
            color: var(--primary);
          }
        }
      }

      .menu-item-has-children {
        position: relative;

        .submenu-toggle {
          width: 2rem;
          height: 2rem;
          background: var(--secondary);
          mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M169.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 306.7 54.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: 1rem;
          position: absolute;
          top: 0.5rem;
          right: 0;
          transition: var(--transition-base);
          cursor: pointer;

          &:hover,
          &:focus {
            background: var(--primary);
          }

          &[aria-expanded='true'] {
            transform: rotate(180deg);
            background: var(--primary);
          }
        }
      }

      .submenu {
        a {
          padding-left: var(--size-md);
        }

        .submenu {
          a {
            padding-left: var(--size-lg);
          }
        }
      }
    }
  }

  /* TOP BAR Desktop STYLING */
  @media (min-width: #{ $break-wide }) {
    .title-bar {
      display: none;
      pointer-events: none;
    }

    .header-menu.menu {
      display: flex;
      align-items: center;
      gap: var(--size-sm);

      li {
        display: block;
        position: relative;

        > a {
          /* Regular menu item style */
          display: block;
          color: var(--primary);
          padding: var(--size-xs);
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: var(--primary);
            transition: var(--transition-base);
            transform: translateX(-50%);
          }

          &:hover {
            /* menu item style on hover */
            &::after {
              width: 50%;
            }
          }
        }

        &.current-menu-item,
        &.current_page_ancestor,
        &.current_page_parent {
          > a {
            /* Style of Current page and Ancestor page */
            background: var(--primary);
            color: var(--white);
          }
        }

        &.has-dropdown {
          > a {
            /* Style of item with dropdown */
          }

          &:hover {
            > .submenu {
              /* Show dropdown on hover */
              opacity: 1;
              visibility: visible;
              pointer-events: auto;
            }
          }
        }

        &.is-active > a {
          /* Parent link style on dropdown hover */
          background: var(--white);
          color: var(--primary);
        }
      }

      /* Dropdown item styling */

      .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 11;
        min-width: 10rem;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: var(--transition-base);

        li {
          > a {
            /* Regular link in dropdown */
            background: var(--white);
            color: var(--primary);

            &:hover {
              /* Dropdown link on hover */
              background: var(--primary);
              color: var(--white);
            }
          }

          &.current-menu-item,
          &.current_page_ancestor,
          &.current_page_parent {
            > a {
              background: var(--primary);
              color: var(--white);
            }
          }
        }

        .submenu {
          /* Styles for 2nd level dropdown menu */
        }
      }
    }
  }
}
