/* ---------------------------------------
	Social networks
--------------------------------------- */
.stay-tuned {
  @include list-unstyled;

  margin-right: -5px;
  margin-left: -5px;
  font-size: 0;
}

.stay-tuned__item {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.stay-tuned__link {
  display: block;

  .fab {
    display: block;
    font-size: 16px;
  }
}
