/* ---------------------------------------
	Social networks
--------------------------------------- */
.stay-tuned {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-2xs);
  font-size: 0;

  &__item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }

  &__link {
    display: block;
  }
}
